<body>
	<header>
	<h1>Art Portfolio</h1>
	<i class="fa-solid fa-grid-horizontal"></i>
	<p>Categories</p>
	<i class="fa-solid fa-circle-question">
	<p></i>QA</p>
	</header>

	<div>
		<div>
			<h2>Welcome to</h2>
			<h2>my Portfolio!!</h2>
			<p>sic de isto et tutius perducit ad</p>
			<p>actum ipsum, ut si dico "Ego</p>
			<p>autem vadam lavari, ut mens</p>
			<button>Go</button>
		</div>
		<div>
			<img src="//images.weserv.nl/?url=images.weserv.nl/lichtenstein.jpg&w=300&h=300">
		</div>
	</div>

	<div>
		<h3>Music Example</h3>
		<p>Ponam in culpa idiota aliis</p>
		<i class="fa-solid fa-pause"></i>
		<input type="range" name="volume" min="0" max="100">
		<p>Sollicitant homines non</p>
		<i class="fa-solid fa-play"></i>
		<input type="range" name="volume" min="0" max="0">
	</div>

	<footer>
		<div>
			<p>ArtPortfolio</p>
		</div>
		<div>
			<i class="fa-brands fa-twitter"></i>
			<i class="fa-brands fa-facebook"></i>
			<i class="fa-brands fa-youtube"></i>
			<i class="fa-brands fa-instagram"></i>
		</div>
	</footer>
</body>
